//clear float
@mixin clearFix {
  content: "";
  display: table;
  clear: both;
}
@mixin colStyle {
  box-sizing: border-box;
  float: left;
}

.gn-row:before,
.gn-row:after {
  @include clearFix;
}
.gn-col {
  @include colStyle;
}

@for $num from 1 through 24 {
  .gn-row-#{$num} {
    @for $i from 1 through $num {
      .gn-col-#{$i} {
        width: (100% / $num * $i);
      }
    }
  }
  .gn-row-#{$num} {
    @for $i from 1 through $num {
      .gn-col-offset-#{$i} {
        margin-left: (100% / $num * $i);
      }
    }
  }
}

//generate Grid
@mixin generateGrid($media) {
  @for $num from 1 through 24 {
    .gn-row-#{$num} {
      @for $i from 1 through $num {
        .gn-col-#{$media}-#{$i} {
          width: (100% / $num * $i);
        }
      }
    }
  }
}

//generate OffsetGrid
@mixin generateOffsetGrid($media) {
  @for $num from 1 through 24 {
    .gn-row-#{$num} {
      @for $i from 1 through $num {
        .gn-col-offset-#{$media}-#{$i} {
          margin-left: (100% / $num * $i);
        }
      }
    }
  }
}

@include generateGrid(xs);
@include generateOffsetGrid(xs);
@media (min-width: 768px) {
  @include generateGrid(sm);
  @include generateOffsetGrid(sm);
}
@media (min-width: 992px) {
  @include generateGrid(md);
  @include generateOffsetGrid(md);
}
@media (min-width: 1200px) {
  @include generateGrid(lg);
  @include generateOffsetGrid(lg);
}

// gutter
$i: 0;
@while $i<=30 {
  .gn-row-gutter-#{$i} {
    margin-left: -#{$i/2}px;
    margin-right: -#{$i/2}px;
    .gn-col {
      padding-left: #{$i/2}px;
      padding-right: #{$i/2}px;
    }
  }
  $i: $i + 1;
}


@mixin container-fixed() {
  margin-right: auto;
  margin-left: auto;
  @include clearFix;
}

.gn-container {
  @include container-fixed;

  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }
}