.bl-clearfix {
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}
*,
*:before,
*:after {
          box-sizing: border-box;
  }
.bl-center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
  }
.bl-pull-right {
  float: right !important;
  }
.bl-pull-left {
  float: left !important;
  }
.bl-hide {
  display: none;
  }
.bl-showing {
  display: block;
  }
.bl-hidden {
  display: none!important;
  visibility: hidden !important;
  }
.bl-show {
  display: block!important;
  visibility: visible !important;
  }
.bl-invisible {
  visibility: hidden;
  }